<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body>

	<header>
		<% include ../partials/header %>
	</header>

  <main>
    <div class="jumbotron">
			<h1>Pupload</h1>
			<p>Social Media for Dogs</p>
		</div>

	  <ul class="contacts" style="list-style-type: none;">
    <% for(var i=0; i<contacts.length; i++) {%>
    	<li class="post">
				<li class="posterInfo">
					<span><%= contacts[i].poster %>:</span>
					<span>This is <%= contacts[i].name %></span>
				</li>
				<span>
					<img src=<%= contacts[i].url %> alt="dog picture" style="height:300px;">
				</span>
				<li class="comment">
					<span><%= contacts[i].poster %>:</span>
					<span><%= contacts[i].caption %></span>
				</li>
				<li class="comments">
					<% if(contacts[i].comments!=undefined){ %>
						<% for(var j=0; j<contacts[i].comments.length; j++){ %>
							<li class="comment"
								<span><%= contacts[i].comments[j].post %></span>
							</li>
						<% } %>
					<% } %>
				</li>
				<form action="/feed" method="post">
			  	<div>
			    	<h3>Rate <%= contacts[i].name %></h3>
						<input type="hidden" name="name" id="id" value=<%= contacts[i].name %>>
						<input type="hidden" name="rateTest" id="rateTest" value="rateTest">
			    	<input type="number" name="rating" id="rtng" placeholder="Rating" ><br>
			    	<textarea type="text" name="comment" id="cmnt" placeholder="Comment" style="width:152px"></textarea><br>
			    	<input type="submit" value="Submit" style="width:152px">
			  	</div>
				</form>
    	</li style="list-style-type: none;">
    <% } %>
		</ul>

  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>
</html>
